* {
  margin: 0;
  box-sizing: border-box;
}
.d_flex {
  display: flex;
}

.d_flex_center {
  display: flex;
  justify-content: center;
}

.d_column {
  display: flex;
  flex-direction: column;
}

.d_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m_auto {
  margin: 0 auto;
}

body {
  color: white;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-family: monospace;
}
p {
  color: black;
  background-color: #f3f3f2c6;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font: 700;
}

.card {
  height: auto;
  width: 500px;
  padding: 30px;
  gap: 30px;

  background-color: rgba(96, 96, 96, 0.455);
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 18px 10px rgba(0, 255, 153, 0.9);
  -moz-box-shadow: 0px 0px 18px 10px rgba(0, 255, 153, 0.9);
  box-shadow: 0px 0px 18px 10px rgba(0, 255, 153, 0.9);
}

.table {
  background-color: rgba(6, 6, 6, 0.687);

  box-shadow: 0px 0px 10px 2px rgba(5, 6, 6, 0.9);
  color: white;
  text-align: left;
  border-radius: 10px;
  font-size: 20px;
  height: auto;
  width: 100%;
  padding: 10px;
  /* border: 2px solid black; */
}

tr {
  height: 30px;
  width: 100%;
  border: 2px solid black;
}
th {
  width: 100%;
}
td {
  width: 100%;

  text-align: right;
}

.landing-section {
  height: 100dvh;
  width: 100%;
  background-image: url(./assets/img/landing-bg-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input_button-section {
  width: 100%;
  gap: 20px;
}
.input_field_one {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.input_field_two {
  width: 100%;
  margin: 0 auto;
}
.input_design {
  color: white;
  border: none;
  background-color: rgba(6, 6, 6, 0.687);
  outline: none; /* Entfernt den blauen/orangen Fokus-Rahmen des Browsers */
  box-shadow: none; /* Entfernt eventuelle Schatten (z. B. bei iOS) */
  appearance: none;
  font-family: monospace;
  font: 700;
  font-size: 16px;
  text-align: center;
  height: 80px;
  display: flex;
  width: 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgba(5, 6, 6, 0.9);
}
.input_design:active {
  border: 1px solid white;
}

.input_button_design {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: 700;
  font-size: 16px;
  cursor: pointer;
  outline: inherit;
  height: 80px;
  width: 100%;
  background-color: #00ff99cf;
  font-family: monospace;
  border-radius: 10px;
}
.input_button_design:hover {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: 700;
  font-size: 16px;
  cursor: pointer;
  outline: inherit;
  height: 80px;
  width: 100%;
  background-color: #00ff99bd;
  box-shadow: 0 0 6px 3px #00ff99bd;
  font-family: monospace;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.alarm-red {
  color: white;
  background-color: #ff0000c6;
  font-size: 50px;
  font-family: sans-serif;
  font: bold;
}

.click {
  border-color: 1px solid white;
}
.damage-box {
  gap: 10px;
  width: 100%;
}
.shield-box {
  gap: 10px;
  width: 100%;
}
