body {
  color: white;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-family: monospace;
  font-size: 3rem;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

.landing-section {
  height: 100dvh;
  width: 100%;

  background-image: url(../assets/background/landing-bg-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.play_section {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play_button {
  background: var(--second-background-color);
  border: 1px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 18px 10px rgba(0, 255, 153, 0.9);
  -moz-box-shadow: 0px 0px 18px 10px rgba(0, 255, 153, 0.9);
  box-shadow: 0px 0px 18px 10px rgba(0, 255, 153, 0.9);

  width: 700px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  text-align: center;
}

#space_game {
  background-image: url(../assets/background/space.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 800px;
  width: 100%;

  border-radius: 10px;
  border: solid 1px white;
}

#status_table {
  text-align: left;
  font-size: 20px;

  height: 100%;
  width: 100%;
  padding: 10px;

  box-shadow: 0px 0px 10px 2px rgba(5, 6, 6, 0.9);
  border-radius: 10px;

  display: flex;
  align-items: flex-end;
}

table {
  background-color: var(--second-background-color);
  color: white;
  height: 100px;
}

tr {
  height: 30px;
}

th {
  width: 100%;
  padding-right: 10px;
}

td {
  width: 100%;
}

.input_field {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input_design {
  color: white;
  border: none;
  background-color: var(--background-color);
  outline: none; /* Entfernt den blauen/orangen Fokus-Rahmen des Browsers */
  box-shadow: none; /* Entfernt eventuelle Schatten (z. B. bei iOS) */
  appearance: none;
  font-family: monospace;
  font: 700;
  font-size: 16px;
  text-align: center;
  height: 80px;
  display: flex;
  width: 100px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgba(5, 6, 6, 0.9);
}

.input_design:active {
  border: 1px solid white;
}

.input_button_design {
  font-family: monospace;
  font: 700;
  font-size: 16px;

  background: none;
  background-color: var(--main-color);
  color: black;

  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  height: 80px;
  width: 100%;
  border-radius: 10px;
}

.input_button_design:hover {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: 700;
  font-size: 16px;
  cursor: pointer;
  outline: inherit;
  height: 80px;
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 0 0 6px 3px var(--main-color);
  font-family: monospace;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.alarm-red {
  color: white;
  background-color: #ff0000c6;
  font-size: 50px;
  font-family: sans-serif;
  font: bold;
}

.click {
  border-color: 1px solid white;
}

.damage-box {
  gap: 10px;
  width: 100%;
}

.shield-box {
  gap: 10px;
  width: 100%;
}

.error-massage-box {
  color: white;
  background-color: var(--alarm-color);
  box-shadow: 0px 0px 10px 2px rgba(5, 6, 6, 0.9);

  height: 50px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;

  font-size: 20px;
  font-family: sans-serif;
  font: 700;
  text-align: center;
  transition: all 1s;
}
