:root {
  --main-color: #00ff99cf;
  --background-color: rgba(6, 6, 6, 0.687);
  --second-background-color: rgba(96, 96, 96, 0.455);
  --alarm-color: rgba(235, 28, 28, 0.683);
  --postive-color: #9bd80b;
}
